* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "epilogue-medium";
  src: url(../font/Epilogue-Medium.ttf);
}

@font-face {
  font-family: "epilogue-bold";
  src: url(../font/Epilogue-Bold.ttf);
}

/*====== variables=====*/
html {
  font-size: 62.5%;
  min-width: 375px;
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: #fafafa;
  color: dimgray;
  font-family: "epilogue-medium", sans-serif;
}

h1 {
  color: #141414;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: "epilogue-bold", sans-serif;
}

a {
  cursor: pointer;
}

a:hover {
  color: #141414;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: dimgray;
}

/*====== nav =====*/
header {
  max-height: 10vh;
}

#logo {
  padding: 2rem;
}

#logo img {
  width: 100%;
}

.burger {
  padding: 2rem;
  cursor: pointer;
}

nav {
  position: relative;
  min-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .open-menu {
  width: 100%;
}

.nav-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  line-height: 4rem;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  width: 65%;
  min-height: 100vh;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-menu .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  gap: 1rem;
}

.login button {
  min-width: 20rem;
  padding: 0.8rem;
  background-color: #fafafa;
  border: 2px dimgray solid;
  border-radius: 1rem;
  color: dimgray;
  font-weight: 700;
  cursor: pointer;
}

.login button:hover {
  color: #141414;
  border: 2px #141414 solid;
}

.close-menu {
  padding-top: 1rem;
  padding-right: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  cursor: pointer;
  width: 5rem;
}

.has-submenu img {
  width: 15px;
  margin-left: 1rem;
}

.up,
.up1 {
  display: none;
}

.up1,
.up,
.down1,
.down {
  cursor: pointer;
}

.submenu1,
.submenu2 {
  line-height: 4rem;
  margin-left: 2rem;
  display: none;
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
}

.submenu1 .gap a,
.submenu2 .gap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

/*  Main section*/
.desktop {
  display: none;
}

main {
  max-height: 80vh;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 4rem;
}

.mobile {
  width: 100%;
}

.intro {
  line-height: 2rem;
}

p {
  padding: 2rem;
}

.cta {
  font-weight: 700;
  cursor: pointer;
  color: white;
  background-color: #141414;
  width: 30%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #141414;
}

.cta:hover {
  color: #141414;
  border: 2px solid dimgray;
  background-color: #fafafa;
}

.footer {
  margin-top: 2rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

#sm {
  width: 15%;
}

img {
  width: 20%;
}

.menu-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  display: block;
}

.remove {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: block;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 1024px) {
  body,
  html {
    overflow: hidden;
    min-width: 1024px;
  }
  .close-menu {
    display: none;
  }
  .burger {
    display: none;
  }
  header {
    height: 7vh;
    min-width: 1024px;
  }
  nav {
    padding: 4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #logo {
    width: 10%;
    padding-top: 0;
  }
  #logo img {
    width: 8rem;
  }
  .nav-menu {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    position: static;
    height: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    line-height: 0;
    padding-top: 1rem;
    gap: 25rem;
    -webkit-transition: none;
    transition: none;
    background: none;
  }
  .nav-menu ul {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 2rem;
  }
  .nav-menu .login {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: 0;
    gap: 2rem;
  }
  .nav-menu .login a {
    padding-top: 0.5rem;
  }
  .has-submenu {
    padding-top: 0;
  }
  .submenu1,
  .submenu2 {
    -webkit-box-shadow: 5px 5px 10px;
            box-shadow: 5px 5px 10px;
    margin: 2rem 0;
    padding: 2rem 3rem;
    border-radius: 1rem;
    line-height: 3rem;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .submenu1 {
    margin-left: -5rem;
  }
  .nav-menu .login button {
    min-width: 10rem;
    margin-top: -12px;
  }
  .one {
    padding-top: 5px;
  }
  .hero-section {
    width: 80%;
    margin: 8rem auto 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    gap: 1rem;
  }
  .hero-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    width: 75%;
  }
  .intro {
    padding-left: 6rem;
    padding-top: 18rem;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .intro h1 {
    font-size: 4.6rem;
    padding-right: 18rem;
    line-height: 4rem;
  }
  p {
    padding: 2rem 15rem 4rem 0;
    line-height: 2rem;
    font-size: 1.3rem;
  }
  .cta {
    border: 2px solid #141414;
    background-color: #141414;
    color: white;
    cursor: pointer;
  }
  .footer img {
    width: 20%;
  }
  #sm {
    width: 10%;
  }
  .down1 {
    display: none;
  }
  .up1 {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */